<!-- start footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row pt-120 pb-80">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        We are a small group of dedicated animal loving volunteers partnered with the staff of Lytle TX Animal Care and Control, committed to placing the homeless dogs, and cats, in the City of Lytle TX facility in loving, responsible, committed permanent forever homes.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h6>Useful Links</h6>
                    <div class="row">
                        <ul class="col footer-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="adopt">Adopt</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="donate">Donate</a></li>
                        </ul>
                        <ul class="col footer-nav">
                            <li><a href="volunteer">Volunteer</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Contact Us</h6>
                    <ul class="list-contact">
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-home"></span>
                            </div>
                            <div class="detail">
                                <h4>Lytle, Texas 78052</h4>
                                <p>
                                    17971 W. FM 2790 S.
                                </p>
                                <p>
                                    P.O. Box 743
                                </p>
                            </div>
                        </li>
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-phone-handset"></span>
                            </div>
                            <div class="detail">
                                <h4>(830) 709-3832</h4>
                                <p>
                                    Mon to Fri 9am to 5 pm
                                </p>
                            </div>
                        </li>
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-envelope"></span>
                            </div>
                            <div class="detail">
                                <a href="mailto:info@lytleanimalallies.org">
                                    <h4>info@lytleanimalallies.org</h4>
                                </a>
                                <p>
                                    Send us your questions anytime!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
<!-- Custom JS -->
<script src="/assets/js/main.js"></script>
</body>
</html>