<nav>
  <div class="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="logo animate fadeInUp">
    <a href="/"><img src="/assets/img/logo/LAA Logo [flat large].png" alt="Logo"></a>
  </div>
  <div class="menu">
    <ul class="nav-list">
      <li class="nav-list-item"><a href="/">Home</a></li>
      <li class="nav-list-item"><a href="about">About Us</a></li>
      <li class="nav-list-item"><a href="event">Events</a></li>
      <li class="nav-list-item"><a href="adopt">Adopt</a></li>
      <li class="nav-list-item"><a href="volunteer">Volunteer</a></li>
      <li class="nav-list-item"><a href="donate">Donate</a></li>
      <li class="nav-list-item"><a href="">Blog</a>
        <!--
        <ul>
          <li><a href="blog">Blog Home</a></li>
          <li><a href="blog-single">Blog Single</a></li>
        </ul>
        -->
      </li>
      <li class="nav-list-item"><a href="contact">Contact</a></li>
    </ul>
  </div>
</nav>