<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="container-fluid view intro-2">
    <div class="row">
        <div class="col-8" offset="2">
            <h1>About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col span_1_of_2">
            <img class="history-row" src="#" alt="Stone Sign">
        </div>
        <div class="col span_1_of_2">
            <p class="history-text">We are a newly incorporated, 2017 non-profit, 501(c)3, promoting animal welfare in the Lytle, Texas area. Donations are tax deductible. Our tax ID or EIN is #81-5410832.</p>
        </div>
    </div>
    <div class="row">
        <div class="col span_1_of_2">
            <p class="history-text">We are a small group of dedicated animal loving volunteers partnered with the staff of Lytle TX Animal Care and Control, committed to placing the homeless dogs, and cats, in the City of Lytle TX facility in loving, responsible, committed permanent forever homes.<br/><br>We take considerable care in placing our animals following a comprehensive adoption process which includes finding the right match for the potential adopter and the animal in need of a home. We stand ready to help you, the prospective adopter, find a companion who will thrive in your home. We are here to assist you in every way possible throughout the adoption process and will continue to be a helpful resource after you have welcomed your new pet into your home and life. Our group remains interested in and committed to the welfare of the dog or cat beyond the adoption process.<br/><br>Adopted animals are spayed and/or neutered, receive all necessary treatment for known illness, receive age appropriate vaccinations, are micro-chipped, and placed in nurturing foster homes while they await placement and transport to their permanent homes. Each animal receives a veterinarian issued health certification prior to transport.</p>
        </div>
        <div class="col span_1_of_2">
            <img class="history-row" src="#" alt="Catio">
        </div>				
    </div>
    <div class="row">
        <div class="col span_1_of_2">
            <img class="history-row" src="#" alt="Quarantine Kennel">
        </div>
        <div class="col span_1_of_2">
            <p class="history-text">Each adoption site has basic search functionality based on location, species and breed. Most have a more expanded search that allows you to dive deep into behavior, health, lifestyle, compatibility with other animals, children and more. This is particularly helpful if you’re seeking a specific type of pet.<br>“We knew we wanted to give a nice retirement to a senior dog; we loved Beagles and we already had three cats in our family,” says Heather Ronayne of Warren, New Jersey. Searching online helped Ronayne and her family narrow their options, leading to their dog, Hugo. “[It’s] made our dream of helping a dog like Hugo possible and has made all the difference in Hugo’s world.”<br>Most of the sites offer their own unique features aimed at making pet adoption and ownership easier and more rewarding. For instance:<br>•	Some sites, such as petfinder.com,provide extensive pet care information and articles<br>•	Sites like adopt-a-pet.com and allpaws.com have an “alert” function, which lets you sign up to get an email when a pet matching your preferences becomes available in your area<br>•	Allpaws.com has also taken pet adoption to a new level, offering points you can redeem for prizes when you browse the adoptable pet database. The more engaged you become in the process, the more points you earn<br>•	Other sites allow you to create favorites in order to make searching and saving easier<br>Regardless of which site or combination of sites you use, the online search is just the first step on the road to adoption. Keep reading for advice to prepare you for the rest of the journey, until your new pet is happily by your side.</p>
        </div>				
    </div>    
</div>
<%- include('partials/footer.ejs') %>