<%- include('layouts/head.ejs') %>
<%- include('layouts/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-8" offset="2">
            <h1>About</h1>
        </div>
    </div>
</div>
<%- include('layouts/footer.ejs') %>