<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center" style="margin: 7rem 0 2rem 0;">Blog</h1>
        </div>
    </div>
    <div class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <% for (p of posts) { 
                var diff = Math.abs(new Date() - p.date);
                console.log(Math.abs(new Date() - p.date));%>
            <div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="/assets/img/cagedDog.jpeg" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="#"><%= p.title %></a></h3>
                        <div class="meta mb-1"><span class="date">Published <%diff%> ago</span><span class="time">5 min
                                read</span><span class="comment"><a href="#">4 comments</a></span></div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget
                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus.
                            Donec quam felis, ultricies...</div>
                        <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                    </div>
                    <!--//media-body-->
                </div>
                <!--//media-->
            </div>
            <!--//item-->
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>