<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center" style="margin: 7rem 0 2rem 0;">Donate</h1>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>