<%- include('partials/head.ejs') %>

<div class="page-wrapper default-theme sidebar-bg bg1 toggled mt-5">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebar.ejs') %>

    <main class="page-content">
        <%- include('partials/header.ejs') %>
        <div class="container-fluid">
            <h2>This is the homepage</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This will eventually have content.</p>
                </div>
            </div>
        </div>
    </main>
    <!-- page-content" -->
</div>
<%- include('partials/footer.ejs') %>