/*SCSS Document */

.history-text {
	color: #000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	font-weight: 200;
	padding: 1em;
	text-align: left;
}

.history-row {
	width: 100%;
}